/* Make Font Arial */
body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

/* Make left column 33% wide */
.left-column {
    display: flex;
    flex-direction:column;
    flex-basis: 100%;
    flex: 33;
  }

/* Make center column 33% wide */
.center-column {
    display: flex;
    flex-direction:column;
    flex-basis: 100%;
    flex: 33;
}
/* Make right column 33% wide */
.right-column {
    display: flex;
    flex-direction:column;
    flex-basis: 100%;
    flex: 33;
    }

.point-border {
  stroke-width: 3px;
  stroke: black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.selectedPoint{
  opacity: 1;
  stroke: lightblue;
  stroke-width: 5px;
}

.graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
  
